.banner-brandspace {
  width: 100%;
}

.bannerLeft {
  @include gridItem(1, 3, auto, auto);
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}
.bannerRight {
  @include gridItem(3, -1, auto, auto);
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
}

.bannerText {
  display: grid;
  margin: auto;
  div {
    align-self: center;
    justify-self: center;
  }
  h1 {
    margin: 2em 120px 0 70px;
    font-family: "Butler-UltraLight", "Playfair Display", serif;
  }
  p {
    margin: 2em 120px 2em 70px;
    font-family: "ApercuPro-ExtraLight", "Poppins", sans-serif;
    font-weight: 300;
  }
  button {
    margin: 10px 70px;
    color: white;
    background-color: black;
    width: 30%;
    padding: 15px 10px;
  }
}
.bannerImg {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  /*.bannerImg {
    flex-shrink: 0;
    min-height: 100%;
    width: 100%;
  }*/
}

.bannerOne {
  background-color: #dbebf4;
}
.bannerTwo {
  background-color: #fffbd4;
}
.bannerThree {
  background-color: #dbf4e4;
}

// Ipad Pro
@media only screen and (max-width: 1024px) {
  .bannerText {
    height: 70vh;
  }
  .bannerImg {
    height: 70vh;
    .imgOne,
    .imgTwo,
    .imgThree {
      height: 100%;
    }
  }
}

// Ipad
@media only screen and (max-width: 768px) {
  .bannerImg {
    height: 50vh;
  }
  .bannerText {
    height: 50vh;
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.85em;
      margin: 2em 5em 2em 70px;
    }
    button {
      width: 40%;
    }
  }
}
// Mobile
@media only screen and (max-width: 600px) {
  .bannerImg {
    height: 30vh;
    .imgOne,
    .imgTwo,
    .imgThree {
      width: auto;
      height: auto;
      max-width: auto;
      max-height: 130%;
    }
  }
  .bannerText {
    height: 30vh;

    h1 {
      font-size: 1em;
      margin-right: 2em;
      margin-left: 35px;
    }
    p {
      display: none;
    }
    button {
      margin-left: 35px;
      width: 60%;
      padding: 1em;
      font-size: 0.6em;
    }
  }
}
