@mixin gridItem($columnStart, $columnEnd, $rowStart, $rowEnd) {
  grid-column-start: $columnStart;
  grid-column-end: $columnEnd;

  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;

  height: 100%;
  width: 100%;
}

@mixin btn($color, $background) {
  color: $color;
  background-color: $background;
  border-radius: 20em;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.7em;
  border: 1px solid black;
  font-family: "ApercuMonoPro-Light";
  transition: all 0.3s ease;
  &:hover {
    color: $background;
    background-color: $color;
    transition: all 0.3s ease;
  }
}

@font-face {
  font-family: "Butler";
  src: local(Butler), format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "Butler-UltraLight";
  src: local(Butler-UltraLight), format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ApercuPro-Medium";
  src: local(ApercuPro-Medium), format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ApercuPro-ExtraLight";
  src: local(ApercuPro-ExtraLight),
    url("../fonts/ApercuPro-ExtraLight.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ApercuMonoPro-Light";
  src: local(ApercuMonoPro-Light),
    url("../fonts/ApercuMonoPro-Light.woff") format("woff");
}
