@mixin gridItem($columnStart, $columnEnd, $rowStart, $rowEnd) {
  grid-column-start: $columnStart;
  grid-column-end: $columnEnd;

  grid-row-start: $rowStart;
  grid-row-end: $rowEnd;

  height: 100%;
  width: 100%;
}

@mixin btn($color, $background) {
  color: $color;
  background-color: $background;
  border-radius: 20em;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  padding: 1.15em 2em 1em;
  padding-top: 1.15em;

  border: 1px solid black;
  font-family: "ApercuMonoPro-Light", "Poppins", sans-serif;
  transition: all 0.3s ease;
  &:hover {
    color: $background;
    background-color: $color;
    transition: all 0.3s ease;
  }
}

@font-face {
  font-family: "Butler", "Playfair Display", serif;
  src: local(Butler_Regular), url("../fonts/Butler_Regular.otf") format("otf");
  font-weight: 100;
}
@font-face {
  font-family: "Butler-UltraLight";
  src: local(Butler-UltraLight), format("woff");
  font-weight: 100;
}
@font-face {
  font-family: "Butler-Medium";
  src: local(Butler_Medium), url("../fonts/Butler_Medium.otf") format("otf");
  font-weight: 100;
}

@font-face {
  font-family: "ApercuPro-Medium", "Poppins", sans-serif;
  font-weight: 600;
  src: local(ApercuPro-Medium), format("woff");
}

@font-face {
  font-family: "ApercuPro-ExtraLight", "Poppins", sans-serif;
  font-weight: 300;
  src: local(ApercuPro-ExtraLight),
    url("../fonts/ApercuPro-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "ApercuPro-Light";
  font-weight: 300;
  src: local(ApercuPro-Light),
    url("../fonts/ApercuPro-Light.woff") format("woff");
}

@font-face {
  font-family: "ApercuPro-Regular";
  font-weight: 300;
  src: local(ApercuPro-Regular),
    url("../fonts/ApercuPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "ApercuMonoPro-Light", "Poppins", sans-serif;
  src: local(ApercuMonoPro-Light),
    url("../fonts/ApercuMonoPro-Light.woff") format("woff");
}

// GOOGLE FONTS FOR SECONDARY

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100;300;600&display=swap");
