.Makeup .brandspace {
  width: 100%;
  margin: 0;
  font-family: "Butler-UltraLight";
  text-align: center;
  padding: 100px;
  font-size: 3em;
}
.chanel {
  background-color: #ffe8ee;
}
.guerlain {
  background-color: #f9daba;
}
.biotherm {
  background-color: #dbebf4;
}
.bioeffect {
  background-color: #ddf1e3;
}
.lancome {
  background-color: #e9e5fe;
}
.elizabeth {
  background-color: #fffbd4;
}
.helena {
  background-color: #e9e5fe;
}
.brandPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 100px 50px;
  gap: 30px;
  a {
    justify-self: center;
    text-decoration: none;
    h2 {
      color: black;
      text-align: center;
      text-transform: uppercase;
    }
  }
  img {
    width: 300px;
    border: 1px solid black;
  }
}

// Ipad
@media only screen and (max-width: 768px) {
  .brandPage {
    h2 {
      font-size: 1em;
    }
    img {
      width: 200px;
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .brandPage {
    grid-template-columns: 1fr;
    img {
      width: 250px;
    }
  }
}
