.Home {
  display: grid;
  grid-template-rows: repeat (4, 40vh);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  p {
    font-family: "ApercuPro-ExtraLight";
  }
}

.pic1 {
  background-image: url("../media/chanel-bigwindow.jpg");
  transition: all 3s ease;
}
.pic2 {
  background-image: url("../media/bioeffect-banner.jpg");
  transition: all 3s ease;
}
.bigwindow {
  @include gridItem(1, -1, 1, 2);

  //background-image: url("../media/bigWindow.jpg");
  //background-image: url("../media/bioeffect-bigwindow.jpg");
  transition: all 5s ease;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;

  border-bottom: 1px solid #333333;
  //background-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .bigImg {
    width: 100%;
    float: right;
    border-bottom: 1px solid #333333;
  }
  .text {
    padding: 13% 20%;
    h1 {
      font-family: "Butler";
      font-size: 2.5em;
    }
  }
  .shopNow {
    width: 15em;
  }
  .dots {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    z-index: 1;
    .fa-circle {
      color: white;
      cursor: pointer;
      opacity: 0.5;
      padding: 1em;
      &:hover {
        opacity: 1;
      }
    }
  }
}
/*.shopNow {
  margin-top: 10px;
  color: white;
  background-color: black;
  width: 30%;
  padding: 15px 5px;
}*/
.headers {
  @include gridItem(1, -1, auto, auto);

  h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    color: black;
    text-align: center;
    font-family: "Butler-UltraLight";
  }

  // border-bottom: 1px solid #333333;
  div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // grid-gap: 2rem;
    margin: 1rem auto;
    margin-bottom: 100px;

    /*article {
      text-align: center;
      display: flex;
      flex-flow: column;
      padding: 1rem 2rem;
      margin: 1rem 0;
      img {
        align-self: center;
        height: 10rem;
        padding-bottom: 1rem;
        cursor: pointer;
      }

    }*/
  }
}
// Ipad Pro
@media only screen and (max-width: 1024px) {
  .bigwindow {
    background-position: 90%;
  }
  .headers {
    article {
      img {
        height: 8rem;
      }
      h3 {
        font-size: 0.9em;
      }
    }
  }
}
// Ipad
@media only screen and (max-width: 768px) {
  .bigwindow {
    // background-image: url("../media/chanel-smallwindow.jpg");
    background-position: 80%;
    .text {
      h1 {
        font-size: 2em;
      }
    }
    .shopNow {
      width: 10em;
    }
  }
  .headers {
    div {
      grid-template-columns: repeat(2, 1fr);
      margin: auto;
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .bigwindow {
    .text {
      p {
        display: none;
      }
    }
    .shopNow {
      width: auto;
    }
  }
}
