.pageStructure {
  h1 {
    font-size: 2em;
  }
  .showProducts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    margin: 1rem 5rem;
    /*article {
      text-align: center;
      display: flex;
      flex-flow: column;
      padding: 1rem 2rem;
      margin: 1rem 0;
      img {
        align-self: center;
        height: 10rem;
        padding-bottom: 1rem;
        cursor: pointer;
      }
    }*/
  }
}
