.popup-box {
  width: 100%;
  position: fixed;
  background-color: #00000050;
  height: 100vh;
  top: 0;
  left: 0;
  .popup {
    position: relative;
    width: 600px;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: white;
    border: 1px solid black;
    .pop-head {
      background-color: black;
      padding: 0.5em;
      display: grid;
      grid-template-columns: 19fr 1fr;
      h3 {
        margin: 0;
        color: white;
        text-align: center;
        font-family: "ApercuPro-ExtraLight", "Poppins", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        padding: 15px;
      }
    }
    .pop-body {
      font-family: "ApercuPro-Medium", "Poppins", sans-serif;
      font-weight: 600;
      padding: 50px 30px;
      display: grid;
      gap: 15px;
      grid-template-columns: 2fr 3fr 3fr;
      .pop-img {
        align-self: center;
        width: 150px;
      }
      h1 {
        font-size: 1.1em;
      }
      p {
        margin: 0;
        font-family: "ApercuPro-ExtraLight", "Poppins", sans-serif;
        font-weight: 300;
      }
      h3 {
        font-size: 0.9em;
      }
      .pop-buttons {
        padding-right: 20px;
        display: grid;

        .btn-2 {
          font-size: 0.8em;
          height: 50px;
          width: 100%;
        }
        .btn-1 {
          @include btn(black, white);
          font-size: 0.8em;
          height: 50px;
          width: 100%;
        }
        a {
          align-self: center;
        }
      }
    }
    .close-icon {
      content: "x";
      cursor: pointer;
      color: white;
      width: 25px;
      font-weight: bold;
      height: 25px;
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
}

// Ipad
@media only screen and (max-width: 768px) {
  .popup-box {
    .popup {
      width: 500px;
      .pop-body {
        .pop-img {
          width: 100px;
        }
        h1 {
          font-size: 1em;
        }
        p {
          font-size: 0.7em;
        }
        h3 {
          font-size: 0.7em;
        }
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .popup-box {
    .popup {
      width: 350px;
      .pop-body {
        grid-template-columns: 2fr 3fr;
        .pop-buttons {
          grid-column-start: 1;
          grid-column-end: -1;
          gap: 10px;
          padding: 0;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }
}
