.singleProductPage {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  margin: 0;
  :nth-child(even) {
    border-right: 1px solid white;
  }
  > div {
    display: grid;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 10%;

    img,
    .aboutProduct {
      align-self: center;
      justify-self: center;
    }
    .prodInfo {
      font-family: "ApercuPro-ExtraLight";
      margin: 5px;
      font-size: 0.8em;
    }
    .singleImg {
    }
    .extraImg {
    }
  }
}
.aboutProduct {
  text-align: left;
  font-family: "ApercuPro-Medium";
  h1 {
    text-transform: uppercase;
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.3em;
  }
  button {
    margin-top: 1em;
    color: white;
    background-color: black;
  }
}
.filtering {
  display: flex;
  gap: 2em;
  li {
    list-style: none;
    button {
      padding-left: 0;
      border: none;
      text-decoration: underline;
      font-size: 1em;
      &:hover {
        background-color: white;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.show {
  text-align: left;
}

// Ipad
@media only screen and (max-width: 768px) {
  .filtering {
    li {
      button {
        font-size: 0.8em;
      }
    }
  }
  .show {
    font-size: 0.7em;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .singleProductPage {
    grid-template-columns: 100%;
    > div {
      border: white;
    }
  }
}
