.singleProductPage {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
  margin: 0;
  :nth-child(even) {
    //border-right: 1px solid white;
  }

  .mobView {
    display: none;
  }
  > div {
    display: grid;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 5%;

    img,
    .aboutProduct {
      align-self: center;
      justify-self: center;
    }
    img {
      height: 15rem;
    }
    .prodInfo {
      font-family: "ApercuPro-ExtraLight";
      margin: 5px;
      font-size: 0.8em;
      padding-bottom: 1em;
    }
    h2 {
      margin-bottom: 0;
    }
    select {
      padding: 5px 10px;
      border-radius: 20px;
    }
    .dd {
      background-color: white;
      border: 1px solid black;
    }
    .stars {
      display: flex;
      font-family: "ApercuPro-ExtraLight";
      align-items: center;
      .fa-star {
        font-size: 0.8em;
      }
      p {
        padding-top: 10px;
        font-family: "ApercuPro-ExtraLight";
        font-weight: 300;
      }
    }
    .extraImg {
    }
  }
  .noBorder,
  .imgBord {
    border-right: 1px solid white;
  }
}
.aboutProduct {
  text-align: left;
  font-family: "ApercuPro-Medium";
  h1 {
    text-transform: uppercase;
    font-size: 1.3em;
  }
  h2 {
    font-size: 1.3em;
  }
  button {
    @include btn(white, black);
    margin-top: 1em;
  }
}
.filtering {
  display: flex;
  gap: 2em;
  li {
    list-style: none;

    button {
      padding-left: 0;
      border: none;
      text-decoration: underline;
      font-size: 1em;
      font-family: "ApercuPro-ExtraLight";

      &:hover {
        background-color: white;
        color: black;
        font-weight: bold;
      }
    }
  }
}

.show {
  text-align: left;
}

// Ipad
@media only screen and (max-width: 768px) {
  .filtering {
    li {
      button {
        font-size: 0.8em;
      }
    }
  }
  .show {
    font-size: 0.7em;
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .singleProductPage {
    grid-template-columns: 100%;
    > div {
      border: white;
    }
    .mobView {
      display: block;
      padding: 20px 0;
      width: 100%;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

      h3 {
        cursor: pointer;
        font-family: "ApercuPro-ExtraLight";
        text-transform: uppercase;
      }
    }
    .addBorder {
      display: none;
    }
    .addBorder.active {
      display: block;
    }
    .imgBord {
      display: none;
    }
    .imgBord.active {
      border-right: 1px solid white;
      display: block;
    }
  }
}
