@import ".//styles/base";
@import "./styles/home";
@import "./styles/cart";
@import "./styles/brands";
@import "./styles/makeup";
@import "./styles/banner";
@import "./styles/newsletter";
@import "./styles/singleProduct";
@import "./styles/footer";
@import "./styles/popup";
@import "./styles/about";

// HIDDEN ON SCREENS LARGER THAN 600px

.hidden,
.mobile-navbar,
.onMobile {
  display: none;
}
.sansCart {
  font-family: "ApercuPro-Medium", "Poppins", sans-serif;
  font-weight: 600;
}
.App {
  text-align: center;
  background-color: pink;

  h1 {
    font-family: "Butler", "Playfair Display", serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    position: sticky;
  }
}

.pageName {
  font-family: "Butler", "Playfair Display", serif;
  text-align: center;
  margin: 50px;
}
main,
.Home {
  position: relative;
}
// Screen
.logo {
  height: 100px;
}
.nav {
  position: relative;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #333333;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 3em 0 3em 0;
    padding: 0;
  }
  li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 400;
    align-self: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.nav-mobile {
  display: none;
}
.menuIcon {
  display: none;
}

article {
  text-align: center;
  display: flex;
  flex-flow: column;
  padding: 1rem 2rem;
  margin: 1rem 0;
  a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    text-transform: uppercase;
  }
  img {
    align-self: center;
    height: 10rem;
    cursor: pointer;
  }
  h3 {
    margin: 0;
    font-size: 1em;
  }
  .productTitle {
    margin: 1em 0 0;
  }
  p {
    margin: 10px;
    margin-bottom: 1em;
    font-family: "ApercuPro-ExtraLight", "Poppins", sans-serif;
    font-weight: 300;
  }
  .stars {
    margin-bottom: 15px;
  }
  h4 {
    margin: 0;
    margin-top: auto;
  }
  button {
    @include btn(black, white);
    margin-top: auto;
    align-self: center;
  }
}
/*button {
  border: solid 1px black;
  border-radius: 20em;
  width: 10em;
  align-self: center;
  color: black;
  background-color: white;
  margin-top: auto;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: white;
    background-color: black;
  }
}*/
button {
  @include btn(white, black);
}

// Ipad Pro
@media only screen and (max-width: 1024px) {
  article {
    button {
      font-size: 0.7em;
    }
  }
}

// Ipad
@media only screen and (max-width: 768px) {
  .nav {
    li {
      a {
        font-size: 0.75em;
      }
    }
  }
}

// Mobile
@media only screen and (max-width: 600px) {
  .onScreens {
    display: none;
  }
  .mobile-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 10px;
    border-bottom: 1px solid #333333;
    > div,
    a {
      justify-self: center;
      align-self: center;
    }
    .logo {
      height: 70px;
    }
    a {
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-size: 1.6em;
      font-family: "ApercuPro-Medium", "Poppins", sans-serif;
      font-weight: 600;
    }
    i.fas {
      font-size: 1.8em;
      cursor: pointer;
    }
  }
  .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 131px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    padding-top: 30px;
    ul {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    li {
      margin: 1em;
      a {
        color: black;
        font-size: 1.8em;
        &:hover {
          color: #ffe8ee;
        }
      }
    }
  }
  .nav.active {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .menuIcon,
  .onMobile {
    display: block;
  }
  .cartNr {
    position: absolute;
    color: white;
    right: 15.5%;
    top: 52.5px;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1400px) {
  body {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
